mat-card{
    width: 500px;
    max-width: 98%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F9FA;
}  
img{
    width: 100px;
    height: 50px;
}
h2{
    font-weight: 400;
}
form,
form > *{
    margin-bottom: 5px;
}
form{
    display: flex;
    flex-direction: column;
    border: transparent;
    padding: 10px;
    border: 1px solid ;
    justify-content: center;
    text-align: center;
    border: none;
}
form > * {
    font-family: 'Roboto', 'sans-serif';
    border: transparent;
    border-radius: 5px;
    font-weight: 400;
    font-size: large;
}
button{
    border-radius: 1px;
}
button[type="submit"]{
    background-color: var(--primary-color);
}
button[type="submit"]:hover{
    transition: ease-in 0.1s;
    color: var(--white);
}
.green{
    background-color: #3a9e3e !important;
    color: white !important;
}
.green:disabled{
    opacity: 0.6;
}
.green:hover{
    background-color: darkgreen;
}
a{
    color: #008B8B;
}