<div class="container">
    <div class="big-circle">
        <div class="small-circle1"></div>
    </div>
    <div class="flex-item-left ">
        <ng-lottie [options]="options"></ng-lottie>
    </div>
    <div class="flex-item-right" style="display: flex; flex-direction: column;">
        <div>
            <br>
            <span>
                <img src="../../../../assets/images/bbank_logo.png" style="width: 200px; margin-left: auto; margin-right: auto;" alt="">
            </span>
            <router-outlet></router-outlet>
            <br>
        </div>
    </div>
    <div class="big-circle">
        <div class="small-circle2"></div>
    </div>
</div>